"AppBuild"
{
    "AppID" "5188520"
    "Desc" "Illusion Fight Season 1 Demo shell 0.1.0"
    "BuildOutput" "../../build-output"
    "ContentRoot" "../../content"
    "Depots"
    {
        "5188521" "depot_build_5188521.vdf"
    }
}
